# Local .terraform directories
**/.terraform/*

# Terraform state files
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.*
**/*.lock.*
# Crash log files
**/crash.log

# Exclude override files as they are usually used locally
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Terraform variable files
**/*.tfvars
**/*.tfvars.json

# Sensitive files
**/.terraformrc
**/terraform.rc

# Plan output files
**/*.tfplan